<!DOCTYPE html>
<html>

<head>
    <title>Accenture Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Accenture</h1>

<h3>About Company</h3>

<p>
Accenture is a multinational company providing IT services,
cloud solutions and digital transformation services.
</p>


<h3>Job Roles</h3>

<ul>
    <li>Associate Software Engineer</li>
    <li>Application Developer</li>
    <li>Cloud Engineer</li>
</ul>


<h3>Required Skills</h3>

<ul>
    <li>Java</li>
    <li>Python</li>
    <li>Cloud Computing</li>
    <li>SQL</li>
</ul>


<h3>Eligibility</h3>

<p>
BCS, BCA, BE, BTech, MCA students can apply.
</p>


<h3>Location</h3>

<p>
Mumbai, Pune, Bangalore
</p>


<br>

<a href="/companies">
<button>Back to Companies</button>
</a>

</div>

</body>

</html>