<!DOCTYPE html>
<html>

<head>
    <title>Companies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Top Placement Companies</h1>

<div class="company-card">
    <a href="/tcs">
    <h2>TCS</h2>
</a>
    <p><b>Role:</b> Software Developer</p>
    <p><b>Skills:</b> Java, Python, SQL</p>
    <p><b>Location:</b> Pune, Mumbai</p>
</div>


<div class="company-card">
    <a href="/infosys">
    <h2>Infosys</h2>
</a>
    <p><b>Role:</b> System Engineer</p>
    <p><b>Skills:</b> Java, Web Development</p>
    <p><b>Location:</b> Pune, Bangalore</p>
</div>


<div class="company-card">
    <a href="/wipro">
    <h2>Wipro</h2>
</a>
    <p><b>Role:</b> Software Engineer</p>
    <p><b>Skills:</b> Python, Database</p>
    <p><b>Location:</b> Hyderabad, Pune</p>
</div>


<div class="company-card">
    <a href="/accenture">
    <h2>Accenture</h2>
</a>
    <p><b>Role:</b> Associate Software Engineer</p>
    <p><b>Skills:</b> Java, Cloud, SQL</p>
    <p><b>Location:</b> Mumbai, Bangalore</p>
</div>


<div class="company-card">
    <a href="/capgemini">
    <h2>Capgemini</h2>
</a>
    <p><b>Role:</b> Analyst</p>
    <p><b>Skills:</b> Python, Testing, SQL</p>
    <p><b>Location:</b> Pune</p>
</div>


<br>

<a href="/dashboard">
    <button>Back to Dashboard</button>
</a>

</div>

</body>

</html>