<!DOCTYPE html>
<html>

<head>
    <title>CampusPrep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>CampusPrep</h2>

    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>


<div class="container">

    <h1>Welcome to CampusPrep</h1>

    <h2>Placement Preparation Portal</h2>

    <p>
        Prepare for your placement journey with company information,
        aptitude quiz and interview preparation.
    </p>

    <br>

    <a href="/register">
        <button>Get Started</button>
    </a>

</div>
<footer>
    <p>© 2026 CampusPrep | Placement Preparation Portal</p>
</footer>

</body>

</html>