<!DOCTYPE html>
<html>

<head>
    <title>Infosys Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Infosys</h1>

<h3>About Company</h3>

<p>
Infosys is a global IT company providing technology services,
consulting and digital solutions to businesses worldwide.
</p>


<h3>Job Roles</h3>

<ul>
    <li>Software Engineer</li>
    <li>System Engineer</li>
    <li>Web Developer</li>
</ul>


<h3>Required Skills</h3>

<ul>
    <li>Java</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Web Development</li>
</ul>


<h3>Eligibility</h3>

<p>
BCS, BCA, BE, BTech, MCA students can apply.
</p>


<h3>Location</h3>

<p>
Pune, Bangalore, Hyderabad, Mumbai
</p>


<br>

<a href="/companies">
    <button>Back to Companies</button>
</a>


</div>

</body>

</html>