<!DOCTYPE html>
<html>
<head>
    <title>Interview Preparation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>CampusPrep</h2>

    <a href="/dashboard">Dashboard</a>
    <a href="/companies">Companies</a>
    <a href="/quiz">Quiz</a>
    <a href="/interview">Interview</a>
    <a href="/logout">Logout</a>
</nav>

<div class="container">

    <h1>Interview Preparation</h1>

    <p>
        Practice the most frequently asked HR and Technical Interview Questions.
    </p>

    <div class="company-card">
        <h2>👤 HR Interview Questions</h2>

        <p>• Tell me about yourself.</p>
        <p>• Why should we hire you?</p>
        <p>• What are your strengths?</p>
        <p>• What are your weaknesses?</p>
        <p>• Where do you see yourself in 5 years?</p>
    </div>

    <div class="company-card">
        <h2>💻 Technical Interview Questions</h2>

        <p>• What is Python?</p>
        <p>• Difference between List and Tuple?</p>
        <p>• What is Flask?</p>
        <p>• What is a Database?</p>
        <p>• Explain your CampusPrep project.</p>
    </div>

    <div class="company-card">
        <h2>🎯 Interview Tips</h2>

        <p>✔ Be confident</p>
        <p>✔ Maintain eye contact</p>
        <p>✔ Speak clearly</p>
        <p>✔ Explain your project properly</p>
        <p>✔ Be honest in your answers</p>
    </div>

</div>

<footer>
    <p>© 2026 CampusPrep | Placement Preparation Portal</p>
</footer>

</body>
</html>