<!DOCTYPE html>
<html>
<head>
    <title>CampusPrep Quiz</title>
</head>
<body>

<h1>Aptitude Quiz</h1>

<form method="POST">

    <p>1. Python is a?</p>
    <input type="radio" name="q1" value="Programming Language"> Programming Language<br>
    <input type="radio" name="q1" value="Database"> Database<br><br>

    <p>2. HTML stands for?</p>
    <input type="radio" name="q2" value="HyperText Markup Language"> HyperText Markup Language<br>
    <input type="radio" name="q2" value="HighText Machine Language"> HighText Machine Language<br><br>

    <p>3. CSS is used for?</p>
    <input type="radio" name="q3" value="Styling"> Styling<br>
    <input type="radio" name="q3" value="Database"> Database<br><br>

    <p>4. SQL is used for?</p>
    <input type="radio" name="q4" value="Database"> Database<br>
    <input type="radio" name="q4" value="Operating System"> Operating System<br><br>

    <p>5. Flask is a?</p>
    <input type="radio" name="q5" value="Python Framework"> Python Framework<br>
    <input type="radio" name="q5" value="Browser"> Browser<br><br>

    <button type="submit">Submit Quiz</button>

</form>

</body>
</html>