<!DOCTYPE html>
<html>

<head>
    <title>Wipro Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Wipro</h1>

<h3>About Company</h3>

<p>
Wipro is a leading global IT company providing software,
consulting and digital technology services.
</p>


<h3>Job Roles</h3>

<ul>
    <li>Software Engineer</li>
    <li>Developer Associate</li>
    <li>Technical Support Engineer</li>
</ul>


<h3>Required Skills</h3>

<ul>
    <li>Python</li>
    <li>Java</li>
    <li>SQL</li>
    <li>Web Development</li>
</ul>


<h3>Eligibility</h3>

<p>
BCS, BCA, BE, BTech, MCA students can apply.
</p>


<h3>Location</h3>

<p>
Pune, Hyderabad, Bangalore
</p>


<br>

<a href="/companies">
<button>Back to Companies</button>
</a>

</div>

</body>

</html>